/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}
.buttons, .selfHome {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 420px) {
  .selfHome > img {
    opacity: 50%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
  }
}


